.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main {
    width: 50%;
    height: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        font-size: 50px;
        height: 150px;
        margin-top: 50px;
    }

    &__button-group {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;

        &-item {
            align-self: center;
            font-size: 30px;
            height: 60px;
            min-width: 200px;
        }
    }
}
